@use './../../../../index.scss' as *;

.footer {
    padding: 0px;
    border-top: 1px solid var(--borderColor);

    .generate-button {
        width: 100%;
        padding: 12px;
        cursor: pointer;
        background-color: var(--BG-rightPanel);
        border: none;
        font-size: 1rem;
        color: var(--fontColor-primary);
        transition: all ease .15s;

        &:hover {
            background-color: var(--green);
            color: var(--BG-rightPanel)
        }
    }
}