@use './../../../../index.scss' as *;

.header {
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background: var(--BG-rightPanel);
    flex-shrink: 0;

    .header-upper {
        padding: 6px 16px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        gap: 8px;
        border-bottom: solid 1px var(--borderColor);
        position: relative;

        .folder-button {
            padding: 8px 12px;
            margin: 3px 0px;
            font-size: 0.85rem;
            background-color: var(--BG-primaryButton);
            cursor: pointer;
            border: none;
            border-radius: 3px;
            transition: all ease .2s;

            .folder-name {
                font-size: 0.9rem;
                opacity: 0.8;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-left: 10px;
                // color: var(--fontColor-primary);
            }

            &:hover {
                background-color: var(--green);
                color: var(--BG-rightPanel)
            }
        }


        .theme-switcher {
            position: absolute;
            top: 50%;
            right: 32px;
            transform: translateY(-50%);

            .theme-toggle {
                background: none;
                border: none;
                cursor: pointer;
                color: var(--fontColor-lineNumbers);
                transition: all ease .15s;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    color: var(--fontColor-activeTab);
                }
            }
        }
    }

    .header-actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        color: var(--fontColor-primary);

        .expand-collapse-button {
            cursor: pointer;
            width: 100%;
            border-radius: 0px;
            border: none;
            font-size: 0.8rem;
            padding: 4px;
            background-color: var(--BG-activeTab);

            &:hover {
                background-color: var(--borderColor);
            }

            &:focus {
                outline: none;
            }

            &:first-child {
                border-right: solid 1px var(--borderColor);
            }
        }
    }
}