@use './../../index.scss' as *;

.right-panel {
    display: flex;
    flex-direction: column;
    background: var(--BG-rightPanel);
    overflow: hidden;
    flex: 1;
    position: relative;

    .floating-actions {
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        opacity: 0.45;
        transition: opacity 0.2s;
        padding: 24px 30px;

        &:hover {
            opacity: 1;
        }

        .copy-buttons {
            gap: 10px;
            display: flex;

            .copy-mini-button,
            .copy-button {
                padding: 8px 12px;
                font-size: 0.85rem;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
                background-color: var(--borderColor);
                cursor: pointer;
                border: none;
                border-radius: 3px;
                transition: all ease .2s;

                &:hover {
                    background-color: var(--green);
                    color: var(--BG-rightPanel)
                }
            }

            .copy-mini-button {
                &:hover {
                    transform: scale(.9);
                }
            }
        }
    }
}